Add Authority Key Identifier, omit SubjectKeyIdentifier from IDevID

From: Esko Dijk <esko.dijk@iotconsultancy.nl>

Hi Michael

While listening in my call, I downloaded a .zip from Honeydukes; product_00-D0-E5-02-00-39.zip, for my Java Pledge to use.

This has a device.crt as follows:

Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number: 1279265224 (0x4c4009c8)
        Signature Algorithm: ecdsa-with-SHA256
        Issuer: DC = ca, DC = sandelman, CN = Unstrung Highway CA
        Validity
            Not Before: Apr 12 09:17:46 2021 GMT
            Not After : Dec 31 00:00:00 2999 GMT
        Subject: serialNumber = 00-d0-e5-02-00-39
        Subject Public Key Info:
            Public Key Algorithm: id-ecPublicKey
                Public-Key: (256 bit)
                pub:
                    04:36:97:d9:11:07:7b:96:2a:ce:b7:10:23:2d:f9:
                    39:f8:e1:51:0f:4a:15:79:8a:99:a2:d3:94:b2:8c:
                    2e:4b:0f:a1:99:99:a6:2a:81:b3:e5:7b:c5:c3:38:
                    c1:d5:36:b1:4e:21:ed:01:19:e1:db:49:71:e1:48:
                    49:d1:fc:57:69
                ASN1 OID: prime256v1
                NIST CURVE: P-256
        X509v3 extensions:
            X509v3 Subject Key Identifier:
                84:6A:EB:D2:C9:66:0D:85:79:F0:D1:07:85:DB:9D:83:22:DF:A0:A2
            X509v3 Basic Constraints:
                CA:FALSE
            1.3.6.1.5.5.7.1.32:
                ..masa.honeydukes.sandelman.ca
    Signature Algorithm: ecdsa-with-SHA256
         30:65:02:30:3e:c9:b3:ec:60:70:29:e5:f3:60:c8:45:cd:c0:
         e8:75:bb:66:e8:c0:8e:de:27:92:d9:f1:b0:91:ac:dc:b4:94:
         55:5a:5d:73:1b:17:af:67:a4:a4:c5:05:e8:72:07:91:02:31:
         00:e0:f1:e5:5e:12:c2:95:9d:b5:55:9c:cb:ae:0b:fe:aa:36:
         de:ca:0e:a3:f3:e2:82:74:2a:c7:2e:dc:d1:06:a7:23:a5:a7:
         5f:db:ea:11:9b:c7:13:0c:99:a4:be:0a:e2

It has a Subject Key Identifier but it should have an Authority Key Identifier instead. See also the IDevID spec 802.1AR-2018, Section 8.10.2, which explains it:

The Subject Key Identifier extension should not be included in DevID certificates. Its omission conserves
space and certificate chain building does not make use of it, even if present.

(Same requirement but shorter is listed in 802.1AR-2009)

BRSKI needs the Authority Key Identifier to work; it’s used to fill the “idevidissuer” field by the Registrar.

Also I found that the MASA URL (in 1.3.6.1.5.5.7.1.32 ) is specified as UTF8String, while it is defined to be IA5String by RFC 8995 Section 2.3.2.  Maybe keep it like that to test that Registrars will just accept both formats. Or fix it, if we want to be strict in formats.

Minor nit: the “vendor.crt” trust anchor for the Pledge expired in 2019. Probably not a problem but good to know ;-)

Esko
